---
layout: page
title: arzumy md
---


<div class="ui pointing menu">
  <a class="active item" data-tab="posts">
    Posts
  </a>
  <a class="item" data-tab="talks">
    Talks
  </a>
  <a class="item" data-tab="press">
    Press
  </a>
</div>
<div class="ui segments tab active" data-tab="posts">
  {% for post in site.posts %}
    <div class="ui segment">
        <span class="ui red ribbon label">{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
  {% endfor %}    
</div>
<div class="ui segments tab" data-tab="talks">
  {% for new in site.content.news %}
    <div class="ui segment">
        <span class="ui blue ribbon label">{{ new.date }}</span> <a href="{{ new.url }}">{{ new.title }}</a>
    </div>
  {% endfor %}    
</div>
<div class="ui segments tab" data-tab="press">
  {% for talk in site.content.talks %}
    <div class="ui segment">
        <span class="ui grey ribbon label">{{ talk.date }}</span> <a href="{{ talk.url }}">{{ talk.title }}</a>
    </div>
  {% endfor %}    
</div>