---
layout: page
title: arzumy md
---

<div class="tabbable tabs-below">
  <div class="tab-content">
    <div class="tab-pane active" id="posts">
      <ul class="unstyled">
        {% for post in site.posts %}
          <li>
            <span class="label label-info">{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div> 
    <div class="tab-pane" id="interviews">         
      <ul class="unstyled">
        {% for interview in site.content.interviews %}
          <li>
            <span class="label label-info">{{ interview.date }}</span> <a href="{{ interview.url }}">{{ interview.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tab-pane" id="talks">         
      <ul class="unstyled">
        {% for talk in site.content.talks %}
          <li>
            <span class="label label-info">{{ talk.date }}</span> <a href="{{ talk.url }}">{{ talk.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>    
  </div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
    <li><a href="#talks" data-toggle="tab">Talks</a></li>
    <li><a href="#interviews" data-toggle="tab">Press</a></li>
  </ul>
</div>