<div class="row-fluid">
	<div class="span8 offset2">
		<div class="well">
			<p>arzumy md, chief tech at <a href="http://says.com">SAYS.com</a></p>
			<div class="newfooter">
			<a href="https://twitter.com/arzumy">https://twitter.com/arzumy</a>
			<br />
			<a href="https://github.com/arzumy">https://github.com/arzumy</a>
			<br />
			<a href="https://www.linkedin.com/in/arzumy">https://www.linkedin.com/in/arzumy</a>
			<br />
			<a href="https://www.google.com.my/search?q=arzumy">https://www.google.com/search?q=arzumy</a>
		  </div>
		</div>
	</div>
</div>