/* Custom CSS */

code, pre {
  font-size: 11px;
}

code {
  color: #333333;
}

.newfooter {
  font-size: 12px;
  line-height: 18px;
}

.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
  height: auto;
}