.over {
  padding: 10px 0 10px 0;
}

.blog-content > p {
  line-height: 1.58;
  letter-spacing: -.003em;
}

p > code {
  background-color: rgb(240, 240, 240);
  color: red;
}

code {
  font-size: 0.8em;
}