<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.meta.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/over.css">
  </head>
	<body>
		<div class="ui text container over">
      {% include header.html %}
      <div class="ui items">
        <div class="item">
          <div class="content">
            <div class="header">{{ page.title }}</div>
            <div class="content blog-content">
              {{ content }}
            </div>
          </div>
        </div>    
      </div>
      {% include footer.html %}
    </div>
		{% include javascripts.html %}
	</body>
</html>